SYSTEM_ID="skywalker"
COMPONENT_ID="monitoring"
S3_BUCKET_NAME=""
AWS_PROFILE=""
TABLE_NAME=""
API_NAME=""
IMPORTER_REPOSITORY_ARN=""
IMPORTER_PIPELINE_NAME=""
FRONTEND_URL=""
BACKEND_URL=""
USER_POOL_ID=""
CLIENT_ID=""
COGNITO_USERNAME=""
COGNITO_PASSWORD=""